ul{
    list-style-type: none;
}
h3{
    color: lightcoral;
}
input[type="text"]:hover{
    cursor: pointer;
}
#searchSection {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 700px){
    #searchSection {
        flex-direction: column;
    }
}